site_name: DataBridges Knots
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [data_bridges_knots]  # Path to your package
          options:
            show_source: false
            show_root_heading: true
            heading_level: 3
            docstring_style: google

markdown_extensions:
  - admonition
  - pymdownx.superfences

nav: 
- Getting started: index.md
- User guide: how-to.md
- API Reference: reference.md
